@import url("http://fonts.cdnfonts.com/css/cascadia-code");

html {
  margin: 0;
  padding: 0;
  font-family: "Cascadia Code", sans-serif;
  width: 100%;
}

.calculator-box {
  display: flex;
  height: 60vh;
  border: 2px solid rgb(128, 128, 128);
  margin: 4rem auto 0 auto;
  width: 50%;
}

table {
  border-spacing: 0;
  width: 100%;
}

tbody {
  background: rgb(209, 209, 209);
}

tr {
  width: 80%;
}

td > button {
  padding: 15px 40px;
  width: 100%;
  text-align: center;
  border: 0;
}

.color {
  background: rgb(255, 136, 1);
}

.color:hover {
  background: rgb(167, 89, 0);
  color: #fff;
}

.no-color:hover {
  background: rgb(124, 124, 124);
  color: #fff;
}

td > input {
  padding: 10px 0 25px 0;
  border: 0;
  background: rgb(163, 163, 163);
  width: 100%;
  text-align: right;
}

.result-box {
  background-color: rgb(156, 145, 145);
}

.result > span {
  color: #fff;
  float: right;
  padding: 1rem;
}

.general-container {
  display: flex;
}

.general-paragraph {
  color: rgb(34, 34, 112);
  font-family: "Cascadia Code", sans-serif;
  font-weight: 500;
  font-size: 25px;
  position: relative;
  top: 2rem;
  padding-left: 2rem;
}
